* {
  margin: 0 0;
  padding: 0 0;
}
body {
  background-color: black;
  opacity: 0.9;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;
}
/* Header & Navigation Area */

#header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: black;
}
.headerimg img {
  max-height: 50px;
  margin-left: 10px;
}
.headernav a {
  text-decoration: underline;
  color: white;
}
#header span {
  margin-left: 15px; /*Assumed not mentioned in spec sheet*/
}

/* Mission Area */

#mission {
  height: 700px;
  width: 1200px;
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  margin: 0 auto;
  margin-top: 69px;
}
#mission .missionstat {
  background-color: black;
  width: 1200px;
}
.missionstat h4,h2 {
  margin: 15px 0;
}

/* Tea of the Month Area */

#teamonth {
  width: 1000px;
  margin: 0 auto;
}
#teamonth h4 {
  padding-bottom: 10px; /* Assumed not mentioned in spec sheet */
}
.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}
.item img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
.item {
  padding: 10px;
}

/* Loactions Area */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#locations h2 {
  margin-bottom: 15px;
}
#locations .location {
  display: flex;

}
.downtown,.eastbay,.oakdale {
  background-color: black;
  opacity: 1;
  margin: 0 20px;
  width: 300px;
}
.downtown,.eastbay {
}
.downtown span,h3,.eastbay span,h3,.oakdale span,h3 {
  display: block;
  margin: 30px;
}

/* Footer Area */

.contact {
  height: 200px;
  line-height: 50px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
}
